In [53]:
import numpy as np
import pandas as pd
import math
import statistics
from scipy import stats

belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
grouped_df = belize_df.groupby(["neighbourhood"])

price_mean = grouped_df[["price"]].mean().reset_index()
review_numb = grouped_df[["number_of_reviews"]].count().reset_index()
availibility = grouped_df[["availability_365"]].max().reset_index()

merged1 = pd.merge(review_numb, price_mean, on="neighbourhood")
merged2 = pd.merge(merged1, availibility, on="neighbourhood")
merged2

          neighbourhood  number_of_reviews        price  availability_365
0        Belize Islands               1303   399.442824               365
1       Belize Mainland                271   288.273063               365
2                  Cayo                505   205.847525               365
3               Corozal                 65   156.553846               365
4           Orange Walk                 28   122.035714               365
5   Stann Creek Islands                 12  1136.166667               365
6  Stann Creek Mainland                565   456.994690               365
7       Toledo Mainland                 47   222.978723               365